section.page-header {
    background-color: #000;
    background-image: url('/assets/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-tagline {
    opacity: 0.9;
}

section.page-header a {
    color: #fff;
    text-decoration: none;
}

.image {
    margin: 0 auto;
    display: block;
    border: 1px solid teal;
}