.PageNavigation {
  font-size: 14px;
  width: 100%;
  overflow: auto;
}

.PageNavigation .prev {
  float: left;
  width:33.33333%;
  text-align:left;
}

.PageNavigation .home {
  float: left;
  width:33.33333%;
  text-align:center;
}

.PageNavigation .next {
  float: right;
  width:33.33333%;
  text-align:right;
}